<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem vindo a API inicial do Projeto Million</h1>
    <p>Informação que mostraremos da API</p>

    <a href="/adm.json" target="_blank">Clique aqui pra chamar a Primeira API</a>
  </body>
</html>
